<header>
     <h3>Exchange Rate History</h3>
  
</header>
<div class="content">
    <div class="half">
        <div class="hor-center fifty">
            <div class="input-fields-container">
                <div class="hor-center">
                    <div class="pull-left usd-flag-container"> 
                        <span class="flag usd"></span>
                    </div>
                    <div class="pull-left">
                        <input type="text" id="num-days" placeholder="Days" ng-model="numOfDays"/>
                    </div>
                </div>
            </div>
            <div class="action-container hor-center">
                <div class="hor-center">
                <div class="pull-left currency-select-container">
                    <select name="select" id="currency-select" ng-model="selectedCurrency">
                        <option value="">Pick a Currency</option>
                        <option value="AUD">Australian dollar</option>
                        <option value="CHF">Swiss franc</option>
                        <option value="CZK">Czech Republic koruna</option>
                        <option value="EUR">Europe euro</option>
                        <option value="KRW">South Korean won</option>
                        <option value="GBP">British pound</option>
                        <option value="ZAR">South African rand</option>
                        <option value="ILS">New Israel shekel</option>
                    </select>
                </div>
                <button id="submit" class="pull-left" ng-click="submit()">{{submitLabel}}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="half">
        <div class="result-label">
            <div class="result-label-line pull-left"></div>
            <div class="pull-left" style="width:15%;">
                <h2>Results</h2>
            </div>
            <div class="result-label-line pull-left"></div>
            <div class="results-date">
                <p>Date</p>
                <h1 ng-model="resultsDate"></h1>
            </div>
            <div class="results-difference">
                <p>Difference</p>
                <h1 ng-model="resultsDifference"></h1>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="footer-inner">
        <div class="flag aud"><p class="flag-label">AUD</p></div>
        <div class="flag chf"><p class="flag-label">CHF</p></div>
        <div class="flag czk"><p class="flag-label">CZK</p></div>
        <div class="flag eur"><p class="flag-label">EUR</p></div>
        <div class="flag krw"><p class="flag-label">KRW</p></div>
        <div class="flag gbp"><p class="flag-label">GBP</p></div>
        <div class="flag zar"><p class="flag-label">ZAR</p></div>
        <div class="flag ils"><p class="flag-label">ILS</p></div>
    </div>
</footer>