<header>
     <h3>Exchange Rate History</h3>
  
</header>
<div class="content">
    <div class="half">
        <div class="hor-center fifty">
            <div class="input-fields-container">
                <div class="hor-center">
                    <div class="pull-left usd-flag-container"> 
                        <span class="flag USD"></span>
                    </div>
                    <div class="pull-left">
                        <input type="text" id="num-days" placeholder="Days" ng-model="numOfDays" enabled="daysEnabled"/>
                    </div>
                </div>
            </div>
            <div class="action-container hor-center">
                <div class="hor-center">
                <div class="pull-left currency-select-container">
                    <select name="select" id="currency-select" ng-model="selectedCurrency">
                        <option ng-selected="{{currency.value == ''}}" value="{{currency.value}}" ng-repeat="currency in currencyOptions">{{currency.label}}</option>
                    </select>
                </div>
                <button id="submit" class="pull-left" ng-click="submit()">{{submitLabel}}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="half">
        <div class="result-label">
            <div class="result-label-line pull-left"></div>
            <div class="pull-left" style="width:15%;">
                <h2>Results</h2>
            </div>
            <div class="result-label-line pull-left"></div>
            <div class="results-date">
                <p>Date</p>
                <h1 ng-model="resultsDate"></h1>
            </div>
            <div class="results-difference">
                <p>Difference</p>
                <h1 ng-model="resultsDifference"></h1>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="footer-inner">
        <div class="flag {{currency.value}}" ng-repeat="currency in currencyOptions"><p class="flag-label">{{currency.value}}</p></div>
    </div>
</footer>